#login {
	padding-top: 200px;
}

.container {
    margin: 0px; 
}

body {
    background-repeat: no-repeat;
}

.ConnectionMes {
    margin-top: 5px;
    color: #D8000C;
    background-color: #FFBABA;
}