<div class="col-md-8 col-sm-8" ng-controller="mainPageController as Ctrl">
    <div class="page-header">
        <h1>Welcome, <small>What is available for you</small></h1>
    </div>

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Available Tables
            <a><i class="fa fa-refresh" ng-click="refreshTable('showTables')"></i></a>
        </div>
        <div class="panel-body">
            <p>Below shows a list of available tables from the database, click on any one and check out!</p>
            <p class="ConnectionMes" ng-hide="dbConnectHide">{{dbConnectMes}}</p>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Table Id</th>
                <th>Table Name</th> 
            </tr>
            <tr ng-repeat="name in tableNames">
                <td>{{name.id}}</td>
                <td><a ng-click="displayTableDetails(name.name)">{{name.name}}</a></td>
            </tr>
        </table>
    </div>
    
    <div class="panel panel-info" ng-hide="hideTableDetails">
        <div class="panel-heading">
            Table Details for {{displayTable.tName}}
            <button type="button" class="btn btn-info" ng-click="updatePage('previous')">Previous</button>
            {{currentPage}}
            <button type="button" class="btn btn-info" ng-click="updatePage('next')">Next</button>
            <a><i class="fa fa-refresh" ng-click="refreshTable(displayTable.tName)"></i></a>
        </div>
        <!-- Table -->
        <table class="table">
            <tr>
                <th ng-repeat="each in displayTable.name">          
                    <a href="" ng-click="changeSortType(each)">
                    {{each}} 
                    <span ng-show="sortType == '{{each}}' && !sortReverse">
                        <i class="fa fa-sort-desc"></i>
                    </span>
                    <span ng-show="sortType == '{{each}}' && sortReverse">
                        <i class="fa fa-sort-asc"></i>
                    </span>
                    </a>
                </th>
            </tr>
            <tr ng-repeat="eachRow in displayTable.data | orderBy:sortType:sortReverse">
                <td ng-repeat="(key, val) in eachRow">{{val}}</td>
            </tr>
        </table>
    </div>
</div>